*, *:before, *:after {
    box-sizing: inherit;
}
#rj-pad::before{
    content: "";
    display: table;
    clear: both;

}
#rj-pad1::after{
    content: "";
    display: table;
    clear: both;
}
body {
       margin : 0px;
	   padding : 0px;
	   font-family: verdana;
     }
#logo {
    position: relative;
    background-color: #fffff;
    height: 70px;
    padding-top: 0px;
    line-height: 50px;
    overflow: hidden;
    z-index: 2;
    }
  #nav {
      position : absolute;
	  height: 35px;
	  width:100%;
	  border : 1px solid blue;
	  box-shadow: 0px 1px 1px 1px;
	  background-color : orange;
	  
  }
#rj-img{
	background-image: url("DD1.jpg");
	color : "gold";
        }
  .content {
    position : relative;
	
  }
  
.rj-code {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
.rj-code .rj-button {
    white-space: normal;
}
.rj-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.rj-button:hover {
    color: #000!important;
    background-color: #fff!important;
}

